In [1]:
a = 10

In [2]:
b = 2 + 3

In [4]:
2 + 3

5

In [5]:
c = b

In [6]:
d = b + 1

In [7]:
d

6

In [8]:
d = d + 1

In [9]:
e = d * 3

In [10]:
e

21

In [11]:
f = d / 3

In [12]:
f

2.3333333333333335

In [13]:
3_little = 3

SyntaxError: invalid token (<ipython-input-13-0f1505da3782>, line 1)

In [14]:
5 = 3

SyntaxError: can't assign to literal (<ipython-input-14-9a762f2c796b>, line 1)

In [15]:
another_variable = 9
another_variable = another_variable + 1
another_variable

10

In [16]:
my_Variable = 10
my_variable + 1

NameError: name 'my_variable' is not defined

In [17]:
my_name = "Matthew"
my_name

'Matthew'

In [18]:
my_name = Matthew

NameError: name 'Matthew' is not defined

In [19]:
my_name

'Matthew'

In [20]:
your_name = 'Yogi'

In [21]:
my_name + your_name

'MatthewYogi'

In [22]:
n_chars = len(my_name)
n_chars

7

In [23]:
print(my_name)

Matthew

In [24]:
a = 10
print(a)

10

In [25]:
type(a)

int

In [26]:
type(my_name)

str

In [27]:
a = 10
type(a)

int

In [28]:
b = 10.1
type(b)

float

In [29]:
c = 10.0
type(c)

float

In [30]:
float(a)

10.0

In [31]:
10 + 0.1

10.1

In [33]:
9 / 2

4.5

In [34]:
my_name

'Matthew'

In [35]:
my_name + " "

'Matthew '

In [36]:
driver_name = "Matthew"
nav_name = "Yogi"

In [37]:
driver_name + " "

'Matthew '

In [38]:
driver_name + " " + nav_name

'Matthew Yogi'

In [39]:
print(7)

7

In [40]:
print(7, "Matthew")

7 Matthew